
body {
	font-family:'Roboto',sans-serif;
    line-height: 1;
	
}

.container {
	width: 80%;
	margin: auto;
    overflow: hidden;
}

/*Header*/
header {
	background-color: white;
	padding-top: 30px;
	min-height: 70px;
}

header #logo {
    float: left;
}

header img:hover {
	transform: translate(20px,0px);
    transition-duration: 2s;
}
                                                                                                                                                      
header nav {
	float: right;
	margin-top: 10px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li {
	float: left;
    color: black;
}

header a{
	text-decoration: none;
	font-size: 18px;
	padding: 0 20px;
	display: block;
    color: #5a5a5a;
}

header .active {
    color: #000;
    font-weight: bold;
}

header li a:hover:not(.active) {
	color: #d3400a;
	text-decoration: underline;
    font-size: 20px;
}



#showcase {
	min-height: 500px;
	background: url(../img/first-background.jpg)no-repeat;
	background-size: cover;
	text-align: center;
    line-height: 1;
	color: #fff;
}

#showcase h1 {
	margin-top: 210px; 
	font-size: 65px;
	margin-bottom: 10px;
}

#showcase h3 {
	font-size: 25px;
    letter-spacing: 1px;
}

#showcase button {
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 3px;
    width: 100px;
    height: 40px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
}

#showcase button:hover{
    cursor: pointer;
    background-color: orangered;
    border: 1px solid orangered;
    border-radius: 3px;
    width: 120px;
    height: 60px;
    color: white;
    font-size: 15px;
    margin-top: 15px;
}


#showcase h1 {
	animation: shadow 2s 4 ease-in;
}

@keyframes shadow {
	from {
		text-shadow: 0px 0px 4px #ffe765;
	}
	50% {
		text-shadow: 0px 0px 40px #ff9769;
	}
	to {
		text-shadow: 0px 0px 4px #ff9c16;
	}
}

/***boxes***/
#boxes {
	margin-top: 20px;
}

#boxes .box {
	float: left;
	width: 31%;
	padding: 10px;
	text-align: center;
}

#boxes .box img {
	width: 130px;
    margin-bottom: 20px;
    height: 120px;
}

#boxes h2 {
    color: grey;
    text-align: center;
    font-size: 30px;
    text-shadow: 2px 2px 2px #9d9d9d;
    margin: 20px 0;
}

#boxes h3 {
    font-size: 30px;
    margin-top: 10px;
    color: #9a9797;
}

#boxes p{
    font-size: 18px;
    margin: 20px;
    color: #9a9797;   
    font-family: cursive;
}

#boxes .box img:hover {
    transform: rotate(10deg);
}

#section {
    background-image: url(../img/buy-now-bg.jpg);
    min-height: 500px;
	background-size: cover;
	text-align: center;
    line-height: 1;
	color: #fff;
}

#section h3 {
	font-size: 25px;
    letter-spacing: 1px;
    text-align: left;
    padding: 20px;
    color: orangered;
}

#section p{
    width: 50%;
    font-size: 18px;
    margin-top:  20px;
    margin-left: 20px;
    color: dimgrey;
    text-align: left;
}

/*footer*/
footer {
	padding: 20px;
	color: #000;
	background-color: white;
	text-align: center;
    line-height: 1.5;
    height: 50px;
}

footer .fab {
    padding: 10px;
    color: deepskyblue;
}






/***Media queries***/

@media (max-width:768px){ 
	header nav li,
	#section h3,
	#boxes .box {
		float: none;
		text-align: center;
		width: 100%;
	}
	
    header img:hover {
        transform: none;
    }
    
	header {
		padding-bottom: 20px;
        padding-top: 0;
        background-color: #ffc300;
	}
    
    header nav {
        margin-top: 20px;
    }
    
    header nav li {
        text-align: left;
        margin-right: 150px;
        line-height: 1.5;
    }
    
    #logo {
        margin-left: 200px;
    }

	#showcase h2 {
		margin-top: 20px;
	}
        
    #boxes .box {
    	padding: 5px;
    }

    #boxes .box img {
        margin-bottom: 10px;
    }
    
    #boxes h2{
        font-size: 40px;
         margin: 10px 0;
    }
    
    #boxes h3 {
        font-size: 20px;
        margin-top: 5px
    }
    
    #boxes p {
        font-size: 16px;
        margin: 10px;
    }
    
    
    #section {
        line-height: normal;
}    

    #section h3 {
        letter-spacing: normal;
        text-align: left;
}

    #section p{
        width: 50%;
        margin-top:  0px;
        font-size: 15px;
}
	
}

@media screen and (max-width:720px){      
	
	header nav li,
	#section h3,
	#boxes .box {
		float: none;
		text-align: center;
		width: 100%;
	}
	
    header img:hover {
        transform: none;
    }
    
	header {
        padding-top: 30px;
		padding-bottom: 20px;
        background-color: #ffc300;
	}
    
    header nav {
        margin-top: 10px;
    }
    
    header nav li {
        text-align: left;
        margin-right: 300px;
    }
    
    .container {
        width: 100%;
    }
    
    #logo {
        margin-left: 20px;
        
    }

	#showcase h2 {
		margin-top: 20px;
	}
        
    #boxes .box {
    	padding: 5px;
    }

    #boxes .box img {
        margin-bottom: 10px;
    }
    
    #boxes h2{
        font-size: 40px;
         margin: 10px 0;
    }
    
    #boxes h3 {
        font-size: 20px;
        margin-top: 5px
    }
    
    #boxes p {
        font-size: 16px;
        margin: 10px;
    }
    
    
    #section {
        line-height: normal;
}    

    #section h3 {
        letter-spacing: normal;
        text-align: left;
}

    #section p{
        width: 50%;
        margin-top:  0px;
        font-size: 15px;
}
	
}

