html {
    font-size: 62.5%;
    font-family: 'Open Sans', sans-serif;
}

body {
    font-size: 1.6em;
}


h2 {
    font-size: 2.4em;
    text-align: center;
    border-bottom: 2px solid lightblue;
    padding: 10px;
    margin-bottom: 20px;
}

ul {
    list-style-type: none;
}

li {
    font-size: 1.6em;
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
    padding: 0 10px;
}

figcaption {
    margin-bottom: 10px;
    font-weight: bold;
}

/*clear both*/

img {
    display: block;
    width: 100%;
    margin-bottom: 10px;
}

/*span*/

.price{
    font-size: 1.8em;
}

/*link*/

.button {
    text-decoration: none;
    background-color: blue;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
    text-align: left;
}

.button:hover{
    background-color: lightblue;
    color: black;
}

/*utility*/


/*figcaption and span*/

.pull-right {
    float: right;
}

/*da budemi sigurni da ce biti na levoj strani*/

.pull-left {
    float: left;
}


/*media queries*/
@media (min-width:768px){
    li{
        width: 45%;
    }
    h2 {
        font-size: 2.6em;
    }
}

@media (min-width:992px){
    li{
        width: 30%;
    }
    h2 {
        font-size: 2.8em;
    }
}

@media (min-width:1200px){
    li{
        width: 23%;
    }
    
    h2{
        font-size: 3em;
    }
}