* {
	margin: 0;
	padding: 0;
}


body {
	font-family: Arial,Helvetica,sans-serif;
	font-size: 15px;
	line-height: 1.5;
}


/*Header*/

.container {
	width: 80%;
	margin: auto;
	overflow: hidden;
}

header {
	background-color: #000;
	color: #fff;
	padding-top: 30px;
	min-height: 70px;
	border-bottom: #e8491d 3px solid;
}

header #logo {
	float: left;
    transition: 3s ease-in-out;
}

header #logo:hover {
	transform: translate(50px,0px);
}

header nav {
	float: right;
	margin-top: 10px;
}

header ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

header li {
	float: left;
}

header a{
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 16px;
	padding: 0 20px;
	display: block;
}

header li a:hover:not(.active) {
    color: #ccc;
}

header .active {
    color: #e8491d;
}


/*opel*/
#opel img {
	width: 100%;
	display: block;
}


/*newsletter*/
#newsletter {
	padding: 15px;
	color: #fff;
	background-color: #565656;
}

#newsletter h2 {
	float: left;
	padding-top: 10px;
    animation: shadow1 3s 2 ease-in;
}

@keyframes shadow1 {
	from {
		text-shadow: 0px 0px 4px #fff;
	}
	50% {
		text-shadow: 0px 0px 40px #fff;
	}
	to {
		text-shadow: 0px 0px 4px #fff;
	}
}

#newsletter form {
	float: left;
    margin-left: 15px;
}

#newsletter input[type="email"] {
	padding: 4px;
	height: 25px;
	width: 250px;
}

#newsletter input[type="email"]:hover {
	background-color: #ff9f84;
}


.button_1 {
	height: 35px;
	background-color: #e8491d;
	border: 0;
	padding-left: 20px;
	padding-right: 20px;
	color: #fff;
	margin: 10px;
}


@keyframes bouncing{
  0%  { bottom: 0; box-shadow: 0 0 5px rgba(0,0,0,0.5);}
  100%{ bottom: 12px; box-shadow: 0 50px 50px rgba(0,0,0,0.1);}
}


.button_1:hover{
    animation: bouncing 1s cubic-bezier(.1, .25, .1, 1) 0s infinite alternate both;
    border-radius: 5px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    text-shadow: 2px 2px 2px #000;
	box-shadow:  2px 2px 2px #000;
}



 /*searc box*/

.searchBox{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.searchBox .searchForm{
    position:relative;
    display:inline-block;
    height:30px;
    border:3px solid #fff;
    border-radius:17px;
}

.searchForm input#searchField{
    cursor: pointer;
    position:relative;
    padding:0px 15px;
    width:0px;
    height:30px;
    background:transparent;
    color:#e7e7e7;
    font-family: sans-serif;
    font-size: 15px;
    border:none;
    outline: none;
    line-height:0px;
    vertical-align:top;
    z-index:2;
    -moz-transition: width .5s cubic-bezier(0.17, 0.78, 0.32, 1.32);
    -webkit-transition: width .5s cubic-bezier(0.17, 0.78, 0.32, 1.32); 
    transition: width .5s cubic-bezier(0.17, 0.78, 0.32, 1.32); 
}

.searchForm input#searchField:focus{
    margin-right:20px;
    width:200px;
    outline:none;
}

.searchForm .close{
    position:absolute;
    width:30px;
    height:30px;
    top:0px;
    right:0px;
    cursor: pointer;   
    -moz-transition: .5s ease-in-out;
    -webkit-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
}

.searchForm .close span{
    position:absolute;
    display:block;
    width:22px;
    height:4px;
    top:32px;
    right:-13px;
    background:#e7e7e7;
    border-radius:5px;
    -moz-transition: .2s .5s ease-in-out;
    -webkit-transition: .2s .5s ease-in-out ;
    transition: .2s .5s ease-in-out;    
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);    
}

.searchForm .close span.back{
    top:12px;
    right:5px;
    opacity:0;
}

.searchForm input#searchField:focus + .close span{
    top:12px;
    right:5px;
}

.searchForm input#searchField:focus + .close span.back{
    opacity:1;
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(-45deg);
    -moz-transition: .4s .8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    -webkit-transition: .4s .8s cubic-bezier(0.18, 0.89, 0.32, 1.28);
    transition: .4s .8s cubic-bezier(0.18, 0.89, 0.32, 1.28);    
}



/*main*/

#main-col {
	float: left;
	width: 62%;
	margin-top: 20px;
	text-align: justify;
}

#main h2 {
	animation: shadow 3s 2 ease-in;
}

@keyframes shadow {
	from {
		text-shadow: 0px 0px 4px #000;
	}
	50% {
		text-shadow: 0px 0px 40px #000;
	}
	to {
		text-shadow: 0px 0px 4px #000;
	}
}


article {
	padding: 20px;
    margin-bottom: 5px;
	background-color: #e6e6e6;
	border: 1px solid #ccc;
}


fieldset {
	margin-top: 20px;
}

.quote legend {
	font-family: 'Tangerine', serif;
    font-size: 30px;
	text-shadow: 4px 4px 4px #aaa;
}

input, label {
	margin-bottom: 10px;
	width: 80%;
	height: 35px;
	margin-left: 10px;
	padding: 5px;
}

input:not(#searchField), textarea{
    box-shadow: 1px 1px 1px #aaa;
}

input[type="color"] {
	width: 40%;
    height: 25px;
    padding: 2px;
}

textarea {
	margin-bottom: 10px;
	width: 80%;
	margin-left: 10px;
	padding: 5px;
}


.fl_left{
	float:left;
}

.fl_right {
	float: right;
}


/*sidebar*/

#sidebar {
	float: right;
	width: 30%;
	margin-top: 20px;
	text-align: justify;
}

#sidebar img {
	width: 20%;
    margin: 0 5px;
	display: inline;
	
}

#sidebar img:hover {
	transform:rotate(10deg);
    transition-duration: 1s;
}


/*footer*/
footer {
	padding: 20px;
	margin-top: 20px;
	color: #fff;
	background-color: #e8491d;
	text-align: center;
}


/***Media queries***/

@media (max-width:960px){
    
	#newsletter button {
		display: block;
		width: 260px;
        padding:0;
	}
    
    .searchBox{
        clear: both;
        display: block;
        margin: 10px 180px 10px 0;
    }
}



@media screen and (max-width:768px){
	header #logo,
	header nav,
	header nav li,
	#newsletter h2,
	#newsletter form,
	#main-col,
	#sidebar {
		float: none;
		text-align: center;
		width: 100%;
	}
	
	header {
		padding-bottom: 20px;
	}
	
	#showcase h2 {
		margin-top: 30px;
	}
	
    
	#newsletter button {
		display: block;
		width: 100%;
	}
    
	
	#newsletter form input[type="email"] {
		width: 100%;
		margin-bottom: 10px;
	}
    
    .searchBox{
        margin:10px 20px;
    }

	#opel img {
		display: none;
	}
	
	article p {
		text-align: justify;
	}
    
#sidebar img {
	width: 18%;
    margin: 0 5px;
	
}


}



